html, body {
    height: 100%;
    margin: 0px;
}

#settings {
    background: green;
}

#spider {
    background: blue;
}

#detail {
    background: yellow;
}

#detail, #spider, #racers, #settings {
    margin: 5px;
}

#svg-detail, #svg-spider {
    width: 100%;
    height: 100%;
}