#racers {
    background: white;
    display: flex;
}

#racers-info {
    flex: 30;
    height: 100%;
    background: aqua;
}

#racers-list {
    flex: 70;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#racers-list img {
    height: 100%;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    display:inline-block;
    cursor: pointer;
}